<footer>
	<div id="footer" class="container">
		<hr/>
		<div class="row">
			<div class="col-md-12">
				<div class="imood-social">
					<h3>Follow us on</h3>
					<a href="#"><img src="/assets/img/icons/Facebook.png"></a>
					<a href="#"><img src="/assets/img/icons/Google Plus.png"></a>
					<a href="#"><img src="/assets/img/icons/Twitter.png"></a>
				</div>
				<div class="imood-logo">
					<a href="#">
						<img src="/assets/img/logo.png" alt="iMood.vn"/>
					</a>
				</div>
				<div class="imood-profile">
					<a data-toggle="modal" data-target="#loginModal" href="#">Login</a>
					|
					<a href="#">About us</a>
				</div>
			</div>
		</div>
	</div>
</footer>