<div class="container">
	<div class="imood-logo">
		<a href="/">
			<img src="/assets/img/logo.png" alt="iMood.vn"/>
		</a>
	</div>
	<form class="form-search">
		<ul class="mood-choices">
			<li class="mood-search">
				<input type="text" placeholder="find your mood ..."/>
			</li>
		</ul>
	</form>
	<imood-tag></imood-tag>
</div>